*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 5vh;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.search{
    width: 400px;
    border-radius: 20px;
}
.LOGIN{
    border: 1px solid black;
    color: white;
    background-color: black;

}
