*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: space-around;
   
    height: 6vh;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.box{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
}