/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */
header{
    height: 100px;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0%;
}
main{
    margin-top: 100px;
    height: 150vh;
    width: 100%;
    background-color: rgb(126, 84, 107);
}
article{
    height: 100px;
    background-color: rgb(158, 137, 109);
    position: sticky;
    top: 100px;

}
footer{
    height: 20vh;
    background: #000;
    background-color: lightblue;
    position: fixed;
    top: 80%;
}
section{
    height: 100px;
    background-color: rgb(73, 135, 115);
}